<ion-header translucent="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
    <div class="form-wrapper">

      <ion-item lines="inset" class="ion-margin-vertical">
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="nom" type="text" required></ion-input>
      </ion-item>

      <ion-item lines="inset" class="ion-margin-vertical">
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="prenom" type="text" required></ion-input>
      </ion-item>

      <ion-item lines="inset" class="ion-margin-vertical">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>

      <ion-item lines="inset" class="ion-margin-vertical">
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>

      <ion-item lines="inset" class="ion-margin-vertical">
        <ion-label position="floating">Confirmer mot de passe</ion-label>
        <ion-input formControlName="confirmPassword" type="password" required></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        class="ion-margin-top"
        [disabled]="inscriptionForm.invalid"
      >
        S'inscrire
      </ion-button>

      <div class="ion-text-center ion-margin-top">
        <p>Vous avez déjà un compte ?
          <a (click)="goToLogin()">Se connecter</a>
        </p>
      </div>

    </div>
  </form>
</ion-content>
